<html>
<head>
  <title>BrickDiff</title>
</head>
<body>
  <h1>BrickDiff</h1>
  <hr/>
  <h2>How To Use</h2>
  <ol>
    <li>Create a new project, specifying a lego kit.</li>
    <li>Enter the bricks that you <i>have</i>.</li>
    <li>When you're finished, click done to get the list of parts you
        <i>need</i></li>
    <li>E-mail this list to yourself.</li>
    <li>Order parts from Pick A Brick.</li>
    <li>Build</li>
  <ol>
  <h2>Get Started</h2>
  <form action="/brickdiff/diff/" method="get">
  Enter a kit: <input type="text" name="setno" />
               <input type="Submit" value="Start!" />
  </form>
</body>
</html>
